{% load djng_tags %}
{#{% load crispy_forms_tags %}#}
{% angularjs %}

    <div style="width: 50%; text-align: center; margin: 0 auto;">

        <form name="documentForm">
            <formly-form model="$ctrl.document" fields="$ctrl.documentFields">
                <a ui-sref="app.documentList"
                   class="btn btn-danger">
                    Cancel
                </a>
                <button type="submit"
                        ng-disabled="documentForm.$invalid"
                        class="btn btn-default"
                        ng-click="$ctrl.onSubmit()">Submit
                </button>
            </formly-form>
        </form>

    </div>

    <div ui-view></div>

{% endangularjs %}
