{% load djng_tags %}
{% angularjs %}

    <table ng-table="$ctrl.documentTableParams"
           class="table table-condensed table-bordered table-striped editable-table"
           ng-form="$ctrl.tableFormCtrl"
           show-filter="true"
           tracked-table="$ctrl.tableTracker">

        <tr ng-repeat="row in $data track by row.id"
            ng-form="rowForm"
            tracked-table-row="row">

            {#            <td data-title="'ID'"#}
            {#                filter="{id: 'number'}"#}
            {#                sortable="'id'">#}
            {##}
            {#                <span>{{ row.id }}</span>#}
            {##}
            {#            </td>#}

            <td data-title="'project'"
                filter="{project__name: 'text'}"
                sortable="'project'">

                <span>{{ row.project }}</span>

            </td>

            <td data-title="'type'"
                filter="{document_type__name: 'text'}"
                sortable="'document_type'">

                <span>{{ row.document_type }}</span>

            </td>

            <td data-title="'document number'"
                filter="{document__id: 'number'}"
                sortable="'document'">

                {% verbatim %}
                <span>{{ row.document_id|documentIdFilter }}</span>
                {% endverbatim %}

            </td>

            <td data-title="'concise description'"
                filter="{concise_description: 'text'}">

                <span>{{ row.concise_description }}</span>

            </td>

            <td data-title="'revision'"
                filter="{revision: 'number'}"
                sortable="'revision'">


                <span>{{ row.revision }}</span>

            </td>

            <td data-title="'document format'"
                filter="{document_format__name: 'text'}"
                sortable="'document_format'">

                <span>{{ row.document_format }}</span>

            </td>

            <td data-title="'filename'"
                filter="{filename: 'text'}"
                sortable="'filename'">

                <span>{{ row.filename }}</span>

            </td>

            <td data-title="'created by'"
                filter="{created_by__username: 'text'}"
                sortable="'created_by'">

                <span>{{ row.created_by }}</span>

            </td>

            {#            <td data-title="'verbose description'"#}
            {#                filter="{verbose_description: 'text'}">#}
            {##}
            {#                <span>{{ row.verbose_description }}</span>#}
            {##}
            {#            </td>#}

            {#            <td data-title="'filepath'"#}
            {#                filter="{filepath: 'text'}">#}
            {##}
            {#                <span>{{ row.filepath }}</span>#}
            {##}
            {#            </td>#}

            <td data-title="'revise'">
                <a ui-sref="app.documentRevise({documentId: row.document_id})" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </td>

        </tr>

    </table>

    <div style="text-align: center;">
        <a ui-sref="app.documentCreate"
           type="button"
           id="createDocument"
           class="btn btn-default">
            Create New Document
        </a>
    </div>

    <div ui-view></div>
{% endangularjs %}
